* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #1363df;
  --secondary-color: #fff;
  --text-color: #000;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  color: #333;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  color: #fff;
  padding: 10px 20px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 60px;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 22%;
  height: 220px;
  padding: 10px;
  border-radius: 8px;
  background-color: #bbdeec;
  text-align: center;
}

.section h2 {
  font-size: 18px;
  font-weight: bold;
}

.section p {
  margin-top: 10px;
}

.section a {
  margin-top: 20px;
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--primary-color);
  border-radius: 5px;
  text-decoration: none;
  color: var(--secondary-color);
}

.section a:hover {
  background-color: #ccc;
  color: #000;
}

/* Footer */

.footer {
  background-color: var(--primary-color);
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px 0;
}

.footer p {
  margin: 0;
}
